$white: white;
$critical: #ef5350;
$degraded: #ffa000;
$success: #8bc34a;
$error: #dd2c00;
$gray: #676a6c;
$black: #000;
$gray-light: lighten($black, 60%);
$gray-lighter: lighten($black, 92%);
$gray-darker: lighten($black, 13.5%);
$gray-dark: lighten($black, 20%);
$yellow: #ffa000;
$green: #8bc34a;
